<div class="image-section">
  <img src="{{product.images[0]}}"/>
  <img class="thumbs"
       *ngFor="let img of product.images"
       [src]="img"/>
</div>
<div class="vertical-divider"></div>
<div class="detail-section">
  <span class="item-code">ITEM #: {{product.id}}</span>
  <span class="name">{{product.name}}</span>
  <div class="sizes">Size selector here</div>
  <span class="prod-description">{{product.description}}</span>
  <button class="basket" (click)="onAddToCart()">ADD TO CART</button>
</div>
